
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpress/may96/Wordpress_soundbox/trunk/site/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress/may96/Wordpress_soundbox/trunk/site/index.php [L]
</IfModule>

# END WordPress